.main-container{
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.main-content{
    top: 50px;
    position: fixed;
    min-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.header-section{
    position: relative;
    padding: 0;
}

.font-color{
    color: #b6795f !important;
}